<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bathroom App</title>
</head>
<body>

Today's date is: {{ date }} <br>
<h2>When nature calls...</h2> <br>

    {% for person in people %}
        Name: {{ person.0 }}, City: {{ person.1 }}<br>
    {% endfor %}


<h3>
    <form action="" method="get">
    Dear user, what is your name?
    <input type="text" name="user.name"><br>
    And your city? <input type="text" name="user.city"><br>
    When is your birthday? <input type="date" name="user.dob"><br>
    <input type="submit" value="Submit">
    </form>
</h3>


<h1>CBS - Central Bathroom Solution</h1>

<img src="{{ STATIC_URL }}static/bathroomapp/cbs-logo.png" / >

<br>

<a href="{% url 'login' %}">Login</a><br>
<a href="{% url 'user_registration' %}">Register</a><br>
<a href="{% url 'guest' %}">Guest</a><br>

</body>
</html>