
{% extends 'base.html' %}
{% block content %}
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">When nature calls...</h1>
            <p class="splash-subhead">
                Find the nearest public restroom when you most need it.
            </p>
            <p>
                <a href="{% url 'bathroom_map' %}" class="pure-button pure-button-primary">Find Bathrooms</a><br><br>
                <a href="{% url 'add_bathroom' %}" class="pure-button pure-button-primary">Add Bathroom</a><br><br>
                <a href="{% url 'add_review' %}" class="pure-button pure-button-primary">Review Bathroom</a><br><br>
            </p>
        </div>
    </div>
{% endblock %}