<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resorts</title>
</head>
<body>

<h2>Resort Packages available for purchase!</h2>

<table>
    <tr>
        <th>Location</th>
        <th>Description</th>
        <th>Price</th>
        <th>Rating</th>
    </tr>
    {% for d in data %}
        <tr>
            <td>{{ d.0 }}</td>
            <td>{{ d.2 }}</td>
            <td>{{ d.3 }}</td>
            <td>{{ d.4 }}</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>